:root {
    --background: #5f0f40;
    --text: whitesmoke;
    --square: #fb8b24;
    --darkSquare: #e36414;
    --circle: #0f4c5c;
    --cross: #9a031e;
    --game-board: 400px;
    --game-board-square: calc(var(--game-board) / 3);
    --game-board-square-item: calc(var(--game-board-square) - 2rem);
    --shape-width: 1.75rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: var(--background);
}

button {
    width: 50%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    color: var(--text);
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    background-color: var(--square);
    border: 0.3rem solid rgba(0, 0, 0, 0);
    border-radius: 1rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(245, 245, 245, 0.7);
    -moz-box-shadow: 0px 0px 1px 1px rgba(245, 245, 245, 0.7);
    box-shadow: 0px 0px 1px 1px rgba(245, 245, 245, 0.7);
    transition: all .4s;
}

button:hover {
    background-color: var(--darkSquare);
    border-color: rgba(15, 76, 92, 1);
}

button:disabled {
    background-color: gray;
    border-color: rgba(0, 0, 0, 0);
    cursor: default;
}

.button-big {
    width: 100%;
}

.button-small {
    transform: scale(0.95);
}

.button-slow {
    transition: background-color 1.2s;
}

#tic-tac-toe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--game-board);
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--square);
    border-radius: 3.5rem 3.5rem 1.5rem 1.5rem;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(245, 245, 245, 0.7);
    -moz-box-shadow: 0px 0px 1px 1px rgba(245, 245, 245, 0.7);
    box-shadow: 0px 0px 1px 1px rgba(245, 245, 245, 0.7);
}

.game-box {
    display: flex;
    flex-wrap: wrap;
    width: var(--game-board);
    height: var(--game-board);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--game-board-square);
    height: var(--game-board-square);
    background-color: var(--square);
    border: 0.25rem solid var(--background);
    border-radius: 1rem;
    transition: all .4s;
}

.square:hover {
    background-color: var(--darkSquare);
    border: 0.15rem solid whitesmoke;
    cursor: pointer;
}

.circle {
    width: var(--game-board-square-item);
    height: var(--game-board-square-item);
    border: var(--shape-width) solid var(--circle);
    border-radius: 50%;
}

.cross {
    position: relative;
    width: var(--game-board-square-item);
    height: var(--game-board-square-item);
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    background-color: var(--cross);
    transform: rotate(45deg);
}

.cross::before {
    left: 50%;
    width: var(--shape-width);
    height: 100%;
    margin-left: calc(var(--shape-width) / 2 * -1);
}

.cross::after {
    top: 50%;
    width: 100%;
    height: var(--shape-width);
    margin: calc(var(--shape-width) / 2 * -1) 0 0 -50%;
}

.small {
    transform: scale(0.6);
}

.reset-box {
    display: flex;
    justify-content: space-around;
    width: var(--game-board);
    margin-top: 1rem;
}